body {
  height: 1500px;
}
.portfolio-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  font-size: 16px;
  background-color: #818181;
  z-index: 3000;
}
.my-portfolio-header {
  .container {
    margin: auto;
    width: 50%;
    text-align: center;
    .relative {
      position: relative;
      top: 100px;
      width: 128px;
      height: 128px;
      margin: auto;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        text-align: center;
      }
    }
    h1 {
      position: relative;
      top: 100px;
      font-weight: 400;
      font-size: 25px;
      line-height: 25px;
      color: #363636;
    }
  }
}
.my-information {
  background-color: #f1eff1;
  height: 120px;
  position: relative;
  top: 100px;
  .container2 {
    width: 65%;
    height: 120px;
    margin: auto;
    .info {
      display: flex;
      justify-content: space-between;
      text-align: center;
      font-size: 20px;
      padding-top: 30px;
      h3 {
        font-family: "Epilogue", sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: #2f3131;
      }
    }
  }
  .bio {
    p {
      margin: 40px 30px;
      font-family: "Epilogue", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #1f2020;
    }
    hr {
      border: 1px solid #afacac;
    }
  }
}
