.portfolio-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  font-size: 16px;
  background-color: #2386c8;
}
.my-portfolio-header {
  .container {
    margin: auto;
    width: 50%;
    text-align: center;
    .relative {
      position: relative;
      top: 100px;
      width: 128px;
      height: 128px;
      margin: auto;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        text-align: center;
      }
    }
    h1 {
      position: relative;
      top: 100px;
      font-weight: 400;
      font-size: 25px;
      line-height: 25px;
      color: #363636;
    }
  }
}
