img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  font-size: 16px;
  background-color: #818181;
  z-index: 3000;
}

header .container {
  width: 100%;
  margin: auto;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .container ul {
  position: absolute;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 15px;
}

header .container ul a {
  color: white;
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  text-decoration: none;
  margin-right: 10px;
}

header .container ul a.email {
  font-size: 12px;
  margin-right: 13px;
}

header .container ul a.email::before {
  content: "\f0e0";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 3px;
}

header .container ul a i {
  font-size: 20px;
}

header .container ul a:hover {
  color: #82d229;
}

@media (min-width: 100px) and (max-width: 349px) {
  header .container {
    width: 90%;
  }
  header .container ul a.email {
    margin-right: 30px;
    font-size: 11px;
  }
  header .container ul a i {
    font-size: 12px;
  }
  .identity .container h1 {
    font-size: 16px !important;
  }
  .identity .container .work i {
    font-size: 9px !important;
  }
  .identity .container .work h3 {
    font-size: 10px !important;
  }
  .projects .main-title {
    font-size: 15px !important;
  }
}

@media (min-width: 350px) and (max-width: 575px) {
  header .container {
    width: 90%;
  }
  header .container ul a.email {
    margin-right: 30px;
    font-size: 13px;
  }
  header .container ul a i {
    font-size: 14px;
  }
  .identity .container h1 {
    font-size: 19px !important;
  }
  .identity .container .work i {
    font-size: 9px !important;
  }
  .identity .container .work h3 {
    font-size: 11px !important;
  }
  .projects .main-title {
    font-size: 18px !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  header .container {
    width: 70%;
  }
  header .container ul a.email {
    margin-right: 85px;
    font-size: 14px;
  }
  header .container ul a i {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  header .container {
    width: 61%;
  }
  header .container ul a.email {
    margin-right: 150px;
    font-size: 14px;
  }
  header .container ul a i {
    font-size: 14px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  header .container {
    width: 52%;
  }
  header .container ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header .container ul a.email {
    margin-right: 200px;
    font-size: 14px;
  }
  header .container ul a i {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  header .container {
    width: 52%;
  }
  header .container ul a.email {
    margin-right: 300px;
    font-size: 14px;
  }
  header .container ul a i {
    font-size: 14px;
  }
}

.identity .container {
  margin: auto;
  width: 50%;
  text-align: center;
}

.identity .container .img-box {
  margin: 100px auto 0;
  width: 50%;
  width: 128px;
  height: 128px;
}

.identity .container .img-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
}

.identity .container h1 {
  margin: 20px 0 10px;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  color: #363636;
}

.identity .container .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.identity .container .work i {
  margin-right: 5px;
}

.identity .container .work h3 {
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #2f3131;
}

.spikes {
  position: relative;
  background: white;
  height: 5vh;
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 50px;
  background-size: 50px 100%;
  background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
  background-position: 0 0;
}

.projects {
  background-color: #f1f1f1;
  padding: 60px 0px 40px;
}

.projects .main-title {
  margin: 0 auto 50px;
  border: 2px solid #a79595;
  padding: 10px 20px;
  font-size: 23px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.projects .main-title::before, .projects .main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #82d229;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.projects .main-title::before {
  content: "";
  left: -30px;
}

.projects .main-title::after {
  right: -30px;
}

.projects .main-title:hover::before {
  z-index: -1;
  -webkit-animation: left-move 0.5s linear forwards;
          animation: left-move 0.5s linear forwards;
}

.projects .main-title:hover::after {
  z-index: -1;
  -webkit-animation: right-move 0.5s linear forwards;
          animation: right-move 0.5s linear forwards;
}

.projects .main-title:hover {
  color: white;
  border: 2px solid white;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

@-webkit-keyframes left-move {
  50% {
    left: 0;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes left-move {
  50% {
    left: 0;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@-webkit-keyframes right-move {
  50% {
    right: 0;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

.projects .container {
  width: 95%;
  margin: auto;
}

.projects .container .card-group {
  margin-bottom: 12px;
  gap: 12px;
}

.projects .container .card-group .card-title {
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.projects .container .card-group p {
  margin: 0;
}

.projects .container .card-group .tools {
  color: #777;
}

.projects .container .card-group .card-footer {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.projects .container .card-group .b1 {
  background-color: #52b035;
  font-family: "Epilogue", sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 3px;
  margin-right: 7px;
  border: none;
  border-radius: 7px;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.projects .container .card-group .b2 {
  border: 1px solid #52b035;
  font-family: "Epilogue", sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 3px;
  border-radius: 7px;
  color: #52b035;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.projects .container .card-group .b2:hover {
  color: white;
}

.projects .container .card-group a:hover {
  background-color: #52b035;
}

@media (min-width: 576px) {
  .card {
    max-width: calc((100% / 3) - 24px);
  }
}

@media (max-width: 575px) {
  .b1,
  .b2 {
    font-size: 13px !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .card {
    min-width: calc((100% / 2) - 12px) !important;
  }
}
/*# sourceMappingURL=main.css.map */