doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Yassine Maamri - Portfolio
		link(rel='icon' href='https://i.suar.me/xJA4P/l')
		link(rel='preconnect' href='https://fonts.googleapis.com')
		link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
		link(href='https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;700&display=swap' rel='stylesheet')
		link(rel='stylesheet' href='css/all.min.css')
		link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
		script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')
		script(src='https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js')
		link(rel='stylesheet' href='css/first.css')
		link(rel='stylesheet' href='css/main.css')
	body
		header 
			.container
				ul
					li
						a(href='mailto:yassinealmaamri@gmail.com' class="email") yassinealmaamri@gmail.com
					li
						a(href='https://github.com/ymaamri' target="_blank")
							i.fa-brands.fa-github
					li
						a(href='https://www.linkedin.com/in/yassine-maamri/' target="_blank")
							i.fa-brands.fa-linkedin
					li
						a(href='https://www.facebook.com/maamri.yassine23' target="_blank")
							i.fa-brands.fa-facebook
		.identity
			.container
				.img-box
					img(src='https://i.suar.me/elN33/l')
				h1 Yassine Maamri
				.work 
					i.fa-solid.fa-briefcase
					h3 Computer Science Student
		section.spikes
		#projects.projects
			h2.main-title PROJECTS
			#myprojects.container
				projects-content(v-for="(project,index) in projectsData" :myproject="project")
		script(src='js/main.js')